body {
	background-color: #BC8F8F;
	font-size: 24pt;
}

#submit {
	width: 500px;
	height: 100px;
	font-family:'Fjalla One', sans-serif;
	font-size: 24pt;
}

h2 {
	font-size: 48pt;
}

h3{
	font-family:'Fjalla One', sans-serif;
	border:3pt dotted black;
	text-align: center;
	font-size: 32pt;
}

h4{
	font-size: 22pt;
	font-family:'Raleway', sans-serif;
	font-weight: bolder;
}

